* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  margin: 0; }

.header {
  position: fixed;
  top: 0;
  display: inline-block;
  box-shadow: 0 2px 3px gray;
  width: 100%;
  height: 50px;
  margin: 0;
  background: black;
  color: white;
  opacity: 0.8; }
  .header a {
    display: inline-block;
    color: inherit;
    margin-top: 5px;
    margin-left: 10px; }
  .header .logo {
    height: 37px; }
  .header .title {
    display: inline-block;
    height: 35px;
    width: available;
    margin-left: 15px;
    margin-top: 9px;
    font-family: "Bitstream Charter", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: left;
    vertical-align: top; }
    .header .title .strong {
      font-size: 23px; }
    .header .title .strong:hover {
      text-shadow: 0 0 8px #5294E2; }
  .header .cloud-icon {
    float: right;
    height: 100%;
    width: 60px;
    cursor: pointer;
    background: url("../res/white-cloud.png") no-repeat;
    background-size: cover;
    background-position: 0 -7px;
    transition: background 300ms; }
  .header .cloud-icon:hover {
    background: url("../res/blue-cloud.png") no-repeat;
    background-size: cover;
    background-position: 0 -7px;
    transition: background 100ms; }

#content {
  margin-top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  #content svg {
    width: 100%;
    height: 100%;
    border: 1px solid blue; }

.dialog {
  position: fixed;
  display: none;
  height: 250px;
  width: 400px; }

.right-pane {
  position: fixed;
  top: 50px;
  right: 0;
  padding: 10px;
  width: 500px;
  height: 600px;
  border-radius: 0 0 0 5px;
  box-shadow: 0 5px 8px gray;
  background-color: white;
  opacity: 0.8;
  z-index: 10; }
  .right-pane .cloud-header {
    padding: 0;
    height: 70px;
    font-family: "DejaVu Serif", "Helvetica", sans-serif;
    box-shadow: inset 0 0 8px gray;
    border-radius: 5px; }
    .right-pane .cloud-header .rsinfo {
      display: inline-block;
      width: 80%;
      height: 100%;
      padding: 5px;
      vertical-align: middle; }
      .right-pane .cloud-header .rsinfo .autor-name {
        padding: 5px;
        height: 50%; }
    .right-pane .cloud-header #photo {
      display: inline-block;
      width: 16%;
      height: 100%;
      margin-top: 0;
      padding: 5px;
      border: 1px dashed red;
      vertical-align: middle; }
  .right-pane #cloud-content {
    width: 480px;
    height: 510px; }

.link {
  stroke: #CDCDCD;
  stroke-width: 7px;
  cursor: pointer;
  transition: all .6s ease; }

.link:hover {
  transition: all .3s ease;
  stroke: #004482; }

.node {
  stroke: #CDCDCD;
  stroke-width: 3px;
  cursor: pointer;
  transition: all .6s ease; }

.node:hover {
  transition: all .3s ease;
  stroke: #004482;
  stroke-width: 5px;
  opacity: 1; }

.label {
  stroke: black;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  font-family: "Bitstream Vera Sans", sans-serif;
  opacity: 0.6;
  pointer-events: none;
  font-size: 13px;
  text-weight: normal; }

/*# sourceMappingURL=style.css.map */
