@mixin calc-height($exp) {
    height:    -moz-calc(100% - $exp);
    height: -webkit-calc(100% - $exp);
    height:         calc(100% - $exp);
}

@mixin user-select($us) {
    -webkit-user-select: $us;
       -moz-user-select: $us;
        -ms-user-select: $us;
            user-select: $us;
}

@mixin radial-gradient($colors...) {
    background: -webkit-radial-gradient($colors);
    background:   -moz-radial-gradient($colors);
    background:     -o-radial-gradient($colors);
    background:        radial-gradient($colors);
}
