@import '_mixins';

$rp-width: 500px;

$header-height: 50px;
$header-bg: black;
$header-txtcolor: white;

$size: 30px;
$thickness: 4px;
$gap: 6px;
$color: #CFD8DC;
$roundCap: true;

* {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    //overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    display: inline-block;
    border: 1px solid green;
    box-shadow: 0 2px 3px gray;
    width: 100%;
    height: $header-height;
    margin: 0;
    background: $header-bg;
    color: $header-txtcolor;

    a {
        display: inline-block;
        color: inherit;
        margin-top: 5px;
        margin-left: 10px;
    }

    .logo {
        height: 37px;
    }

    .title {
        display: inline-block;
        height: 35px;
        width: 500px;
        margin-left: 15px;
        margin-top: 7px;
        font-family: "Bitstream Charter", "Helvetica", sans-serif;
        font-weight: bold;
        font-size: 25px;
        text-align: left;
        vertical-align: top;
        // border: 1px dotted red;
    }

    .cloud-toggle {
        float: right;
        // border: 1px dashed magenta;
        height: 35px;
        margin-top: 8px;
        margin-right: 10px;
        input {
            display: none;
        }
        label {
            display: block;
            width: $size;
            height: ($thickness * 3 + $gap * 2);
            position: relative;
            span {
                position: relative;
                top: $thickness + $gap;
                &,
                &:after,
                &:before {
                    display: block;
                    background-color: $color;
                    width: $size;
                    height: $thickness;
                    @if $roundCap {
                        border-radius: 1px;
                    }
                }
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                }
                &:before {
                    bottom: $gap + $thickness;
                }
                &:after {
                    top: $gap + $thickness;
                }
                .right & {
                    &:before {
                        transform-origin: top right;
                        right: 0;
                    }
                    &:after {
                        transform-origin: bottom right;
                        right: 0;
                    }
                }
            }
        }
    }
}

.content {
    margin-top: 0px;
    height: available;
    width: available;
    height: 90%;
}


.right-pane {
    position: fixed;
    top: $header-height;
    right: 0;
    padding: 10px;
    width: $rp-width;
    height: 600px;
    border-radius: 0;
    box-shadow: 0 5px 8px gray;
    background: -webkit-linear-gradient(top, #EEE 0%, #FFF 30%);

    .cloud-header {
        padding: 0;
        border: 1px solid blue;
        height: 70px;
        font-family: "DejaVu Serif", "Helvetica", sans-serif;

        .rsinfo {
            display: inline-block;
            width: 80%;
            height: 100%;
            padding: 5px;
            border: 1px dashed magenta;
            vertical-align: middle;
            .name {
                height: 50%;
                border: 1px dotted blue;
            }
            .citation {
                height: 50%;
                border: 1px dotted blue;
            }
        }

        .photo {
            display: inline-block;
            width: 16%;
            height: 100%;
            margin-top: 0;
            padding: 5px;
            border: 1px dashed red;
            vertical-align: middle;
        }
    }

    svg {
        width: $rp-width - 20px;
        height: 510px;
    }
}

svg {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}

.link {
    stroke: #acacac;
    stroke-width: 7px;
    cursor: pointer;
    transition: all .3s ease;
}

.link:hover {
    transition: all .3s ease;
    stroke: blue;
}

.node {
    stroke: #acacac;
    stroke-width: 5px;
    cursor: pointer;
    transition: all .7s ease;
}

.node:hover {
    transition: all .7s ease;
    stroke: blue;
}
